body, html{
	margin: 0;
	font: 1em "Open Sans", sans-serif;
}

.upper{
	
	background-size: 100% 100%;
	width: 100%;
	height: 400px;
	background-repeat: no-repeat;
	background-position: center;
	/*padding: 10px;*/
	background-color: #CCE5FF;



}



.main-content{
	background-image: url('../img/img-scroller-services-frontend-1.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 260px 228px;
	background-position: 7px 100px;

}



.personal-info{

	/*background-image: url('../img/img-scroller-services-frontend-1.png');
	background-repeat: no-repeat;
	background-attachment: fixed;*/
	/*display: flex;
	margin: auto;
	width: 60%;
	padding: 10px;
	align-items:center;
	text-align: center;*/

	display: flex;
	margin: auto;
	width: 40%;
	padding: 10px;

}

.personal-info >ul{
	list-style-type: none;
	display: inline;
}

.astri{
	display: flex;
	margin: auto;
	width: 60%;
	padding: 10px;
	/*align-items:center;*/

}

h2{
	text-align: center;
}



.unisys{
	display: flex;
	margin: auto;
	width: 60%;
	padding: 10px;

}

.rovi{
	display: flex;
	margin: auto;
	width: 60%;
	padding: 10px;

}

.marvell{
	display: flex;
	margin: auto;
	width: 60%;
	padding: 10px;

}

.logo{
	/*border-radius: 50%;
*/

}

.logo1{
	border-radius: 30%;
	border: 1px solid red;


}



#element1{
	/*border: 2px solid red;*/
	/*position: relative;*/
	background: white;
	padding: 20px;
	margin: 10px;
	width: 130px;
	height: 200px;
	border-radius: 10px;
	box-shadow: 10px 10px 5px grey;
	display:inline-block;



}



#element2{
	/*border: 2px solid red;*/
	background: white;
	padding: 20px;
	margin: 10px;
	width: 130px;
	height: 200px;
	border-radius: 10px;
	box-shadow: 10px 10px 5px grey;
	display:inline-block;

	
}

#element3{
	/*border: 2px solid red;*/
	background: white;
	padding: 20px;
	margin: 10px;
	width: 130px;
	height: 200px;
	border-radius: 10px;
	box-shadow: 10px 10px 5px grey;
	display:inline-block;
	
}





#element1, #element2, #element3 {
	-webkit-animation:spin 1s linear;
    -moz-animation:spin 1s linear;
    animation:spin 1s linear;
    animation-iteration-count:1;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }




.card{
	text-align: center;
	position: relative;   /*move the three cards up*/
	top:-20px;
	
	}

	



label {

	display:block; 
	font-weight: bold;
	font-family: Arial Helvetica, sans-serif;
	color: red;
	font-size: 18px;

}


#welcome {

	font-size: 50px;

}

a{
	text-decoration: none;
}

h2{
	font-weight: bold;
	color: #0080FF;
}


#double-right{
	color: white;
	border: 1px solid;
	padding: 5px;
	background-color: #0080FF;
	
}

#welcome{
	font-size: 35px;
	font-family: 'Pacifico', cursive;
	padding: 20px 0px 0px 0px;
}

footer{
	text-align: center;
	position: relative;   /*move the three cards up*/
	top:-20px;
}

#social-media{
	position: relative;   /*move the three cards up*/
	top:30px;
}



